/** first color pallet */
$persian-pink: #FF92C2;
$cotton-candy: #FFC8FB;
$pale-purple-pantone: #FFE4F3;
$lavender-blush: #FFEEF2;
$davys-grey: #595758;

/** second color pallet */
$champagne-pink: #EFD5C3;
$baby-pink: #FFD4CA;
$cambridge-blue: #AAC0AF;
$morning-blue: #839791;
$old-lavender: #896978;

/** third color pallet ✔ */
$columbia-blue: #CCE6F4;
$maximum-blue: #4BA3C3;
$blue-sapphire: #175676;
$bright-maroon: #BA324F;
$crimson: #D62839;

/** trumps */
$black: #000000;
$gunmetal: #092534;
$wine: #611A29;
$antique-ruby: #8A1925;
$mandarin: #EF8354;
$carrot-orange: #EA9010;
$alice-blue: #EFF7FB;
$ghost-white: #F4F4F8;
$white: #FFFFFF;
